{% extends 'base.html' %}

{% block heading %}
  !! Welcome to Employee Management System !!
{% endblock %}

{% block home %}
{% endblock %}

{% block body %}
  <div class="m-5 col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Welcome to Employee Management System</h5>
        <p class="card-text">system is technology designed to streamline core HR services and improve workforce productivity</p>
        <a href="/login_page" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
{% endblock %}
